<!DOCTYPE html>
<html>
<head>
	<title>Nuestros Servicios</title>
</head>
<body>
	<br>
	<br>
	
		<div class="container">
		<div class="row" id="hola">
			<div class="col-lg-7">
			<h1>Asesoramiento </h1>
			<p><h3>Te damos la información adecuada para que puedas ejecutar proyectos de construcción con metodologías basadas en estándares Internacionales de gestión de proyectos. Siendo tu aliado con nuestros profesionales especialistas en el campo.</h3></p>
			</div>
			<div class="col-md-5">
				<%= image_tag("servicio/asesoramiento .jpg", class:"featurette-image img-fluid mx-auto", alt:"100x100", style:"width: 400xp; height: 400xp;") %>
			</div>
		</div>
		<br>
		<div class="row" id="mundo">
			<div class="col-lg-7">
				<h1>Reparación y mantenimiento</h1>
				<p><h3>Te acompañamos en la conservación adecuada de tus inmuebles, haciendo seguimientos periódicamente, con el fin de evitar futuros daños y reparar los daños presentes; esto es vital para el funcionamiento de una estructura.</h3></p>
			</div>
			<div class="col-md-5">
				<%= image_tag("servicio/reparacion.jpg", class:"featurette-image img-fluid mx-auto", alt:"400x400", style:"width: 400xp; height: 400xp;") %>
			</div>
		</div>
		<br>
		<div class="row" id="mundito">
				<div class="col-lg-7">
					<h1> Construcción</h1>
					<p><h3>Tu nos das las ideas nosotros las estructuramos, estamos interesados en realizar todas tus peticiones con la mejor calidad brindándote las siguientes opciones: 
					<br>Construcción de edificaciones, casas, bodegas y oficinas.
					<br>Reforzamiento estructural de edificaciones.
					<br>Obras de restauración y conservación patrimonial y arquitectónica.
					</h3></p>
				</div>
				<div class="col-md-5">
					<%= image_tag("servicio/construccion.jpg", class:"featurette-image img-fluid mx-auto", alt:"400x400", style:"width: 400xp; height: 400xp;") %>
				</div>
		</div>
		<br>
	</div>
</body>
</html>


