<!DOCTYPE html>
<html>
<body>
	
	<div class="container">
    <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Misión</h2>
            <p class="lead">Muchas veces cuando estamos en un restaurante y pedimos un plato el cual según el menú su tiempo de espera es 20 minutos, pero en realidad cuando lo recibimos se demora 30 minutos, nos sentimos engañados y frustrados con el resultado. Esto no solo sucede en los restaurantes pues en el campo de la construcción es muy común; para evitar este tipo de inconvenientes nuestra visión principal es garantizar la calidad de un proyecto en el tiempo establecido cumpliendo los criterios definidos.</p>
          </div>
          <div class="col-md-5">
			<%= image_tag("nosotros/vision.jpg", class:"rounded-circle img-fluid mx-auto", alt:"400x400", style:"width: 400xp; height: 400xp;") %>
			
          </div>
		</div>
		<br>
		<br>
		<br>
        <hr class="featurette-divider">

        <div class="row featurette bg-warning">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">¿Cómo lo hacemos?</h2>
            <p class="lead">Para determinar el tiempo que estimamos en un proyecto tomamos las ideas de nuestros clientes y las relacionamos con proyectos similares realizados en el pasado, luego determinamos las diferencias que existen de este y cuánto tiempo aumenta o disminuye el proyecto a realizar.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <%= image_tag("nosotros/comolohacemos.jpg", class:"rounded-circle img-fluid mx-auto", alt:"400x400", style:"width: 400xp; height: 400xp;") %>
          </div>
        </div>
		<br>
		<br>
		<br>
        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Visión</h2>
            <p class="lead">Lograr establecer la confianza adecuada con nuestros clientes, para la realización de proyectos en su acuerdo establecido; siendo nuestra meta cumplir los criterios en el tiempo definido.  </p>
          </div>
          <div class="col-md-5">
			<%= image_tag("nosotros/confianza.jpg", class:"rounded-circle img-fluid mx-auto", alt:"400x400", style:"width: 400xp; height: 400xp;") %>
          </div>
        </div>
		<br>
		<br>
		<br>
        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->
	</div>

</body>
</html>